<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/math_test.css}">
        <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}" rel="stylesheet">
        <link th:href="@{/css/assets/fonts/cera pro/stylesheet.css}" rel = "stylesheet">
        <title>Решайка</title>
</head>
    <body>
        <header>
            <span class="question-counter"></span>
            <button class="finish">Завершить</button>
        </header>
        <div class="question"></div>
        <ul class="answers-block">
            <button type="button" class="answer answer-1"></button>
            <button type="button" class="answer answer-2"></button>
            <button type="button" class="answer answer-3"></button>
            <button type="button" class="answer answer-4"></button>
        </ul>
        <div class="result-window">
            <h1>Отлично!</h1>
            <p>Ты прошёл тест на</p>
        </div>
            <script th:src="@{/js/math_test.js}"></script>
        </body>
</html>